/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    margin-left: 10px;
    margin-top:10px;
    border: none;
    cursor: pointer;
}

.dropbtnON {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    margin-left: 10px;
    margin-top:10px;
    border: none;
    cursor: pointer;
}

.dropbtnOFF {
    background-color: #ff1000;
    color: white;
    padding: 16px;
    font-size: 16px;
    margin-left: 10px;
    margin-top:10px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}